@font-face {
    font-family: 'a-avantelt';
    src: url('./__a-avantelt/fonts__a-avantelt.woff2') format('woff2'),
    url('./__a-avantelt/fonts__a-avantelt.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}